
.cardFilm {
  position: relative;
  overflow: hidden;
  width: 310px;
  height: 420px;
  margin: auto;
  background: #2a264f;

  border-radius: 3px;
  box-shadow: 0 0 10px #2a264f;
  transition: all 0.5s ease-in-out;
}

.cardFilm .img1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  background-size: 310px 418px; 
  background-position: left top;
  transition: all 0.5s ease;
}

.cardFilm .img2 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;

  background-size: 310px 425px;
  background-position: left bottom;
  transition: all 0.5s ease;
}

.cardFilm .title {
  height: 22%;
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: #FFFC;
  padding: 15px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 -50px 28px -25px #000 inset;
  opacity: 1;
  transition: all 0.2s ease;
}
.btn__card{
  /* height: 22%; */
  width: 12em;
  font-weight: 700;
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s ease;
}
.btn__play{
  opacity: 1;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  
}
.cardFilm:hover .btn__play{
  opacity: 1;
  top: 50%;
}



.cardFilm .views {
  position: absolute;
  left: 10px;
  top: 50%;
  padding: 3px 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  background: rgba(255, 0, 128);
  color: #fff;
  border-radius: 5px;
  transform: translate(-160px, 50%);
  transition: all 0.5s ease;
}

.cardFilm:hover .img1 {
  transform: rotate(10deg) scale(1) translate(20px, 0);
  /* transform-origin: 300px 300px; */
  opacity: 0.5;
  transition: all 0.5s ease
}

.cardFilm:hover .img2 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px;
}
.cardFilm:hover .title{
  bottom: 15%;
  box-shadow: none;
}
.cardFilm:hover .btn__card{
  opacity: 1;
  bottom: 5%;
}
.cardFilm:hover .text {
  opacity: 0.8;
  transform: rotate(0deg);
}

.cardFilm:hover .views,
.cardFilm:hover .catagory {
  transform: translate(0);
}




/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (max-width: 768px) {
  .cardFilm{
    width: 274px;
    height: 375px;
  }
  .cardFilm .img1 {
    background-size: 297px 396px;
 }
  .cardFilm .img2{
    background-size: 297px 350px;
  }
}
 /* Small devices (portrait tablets and large phones, 600px and up) */
 /* @media only screen and (max-width: 650px) {
   .hero-slide__item__content {
     background-color: ;
   }
 } */
 
 @media only screen and (max-width: 650px) {
   
 }
 @media only screen and (min-width: 1024px) {
  .cardFilm{
    width: 263px;
    height: 380px;
  }
  .cardFilm .img1{
    background-size: 310px 382px;
  }
  .cardFilm .img2{
    background-size: 310px 375px;
  }
 }