.hero-slide__item{
  padding: 9rem 0;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}
.hero-slide__item::before{
  content: "";
  position: absolute;
  
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.hero-slide__item::after{
  content: "";
  position: absolute;
  bottom: 0;left: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to top, #0f0f0f, rgba(0, 0, 0, 0));

}
.hero-slide__item__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}
.hero-slide__item__content__info{
  width: 65%;
  padding: 0 3rem;
  position: relative;
}
.hero-slide__item__content__info .title{
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
  color: white;
}
.hero-slide__item__content__info .overview{
  font-weight: 700;
  color: white;
}
.hero-slide__item__content__poster{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
  position: relative;

}
.hero-slide__item__content__poster img{
  width: 300px;
  height: 450px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: scale(0);
  transition:  transform 0.7s ease;
  /* z-index: 90; */
}

.swiper-wrapper .swiper-slide-active .hero-slide__item .hero-slide__item__content .hero-slide__item__content__poster img{
  transform: scale(1);
}

/* --------------- */
.modal__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 28, 0.19);
  backdrop-filter: blur(6px);
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  z-index: 100;
}

.modal__align {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal__content {
  width: 800px;
  height: 500px;
  box-shadow: 0px 100px 80px rgba(184, 184, 184, 0.07),
    0px 25.8162px 19px 4px rgba(178, 178, 178, 0.0456112),
    0px 7.779px 7.30492px rgba(0, 0, 0, 0.035),
    0px 1.48838px 2.0843px rgba(0, 0, 0, 0.0243888);
  border-radius: 20px;
  background: transparent;
  color: #000;
  margin: 0rem 4rem;
}

.modal__close {
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  bottom: 50px;
  width: 32px;
  height: 32px;
  padding: 0;
}

.modal__video-align {
  display: flex;
  position: relative;
  bottom: 37px;
}

.modal__video-style {
  border-radius: 20px;
  z-index: 100;
}

.modal__spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__spinner {
  animation: spin 2s linear infinite;
  font-size: 40px;
  color: #1b6aae;
}





/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .hero-slide__item .hero-slide__item__content__info{
    padding: 0;
  }
  .hero-slide__item .hero-slide__item__content__info .title {
    font-size: 2.5rem;
  }
  .hero-slide__item__content__poster img{
    width: 200px;
    height: 350px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .hero-slide__item .hero-slide__item__content__info .title {
    font-size: 2rem;
  }
  .hero-slide__item__content__poster img{
    width: 170px;
    height: 320px;
  }
  .hero-slide__item__content__info .overview{
    font-size: 12x;
  }
  .btn-group{
    padding: 0;
  }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (max-width: 650px) {
  .hero-slide__item__content {
    background-color: ;
  }
} */

@media only screen and (max-width: 650px) {
  .hero-slide__item__content {
    flex-direction: column-reverse;
  }
  .hero-slide__item__content__info {
    width: 100%;
  }
  .hero-slide__item__content__poster img {
    width: 300px;
    height: 220px;
}
}


@media screen and (max-width: 800px) {
  .modal__content {
    margin: 0rem 1rem;
    width: 100%;
  }
  .modal__video-style {
    width: 100%;
  }
}

@media screen and (max-width: 499px) {
  .modal__content {
    background: transparent;
    height: auto;
  }
  .modal__video-align {
    bottom: 0px;
  }
  .modal__video-style {
    height: auto;
  }
}




@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
