.slick-prev:before, .slick-next:before {
  color: rgb(0, 0, 0) !important;
  font-size: 3rem !important;
  background-color: white !important;
}
.width-item{
  /* width: 100% !important; */
}


.active_Film{
  background-color: rgba(255, 0, 128, 0.498);
}
.non_active_Film{
  background-color: transparent
}
