.detail_item {
     margin-top: 15%;
}
@media only screen and (max-width: 992px) {
     .detail_res img {
          max-width:none;
          
     }
     .grid-cols-12 {
          grid-template-columns:none
     }
     .grid-cols-2 {
          grid-template-columns: none;
     }
     .px-20,.px-20,.ml-72 .m-20{
          padding: 0;
          margin: 0;
     }
     .w-2\/3 {
          width: 100%;
     }
     .detail_item {
          margin-top: 5%;
     }
   }

   @media only screen and (min-width: 1200px) {
     .grid-cols-2 {
          gap: 25px;
     }
   }